apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            # Primary port the application uses (3000 for Grafana, 9090 for Prometheus)
            - name: http-port
              containerPort: {{ .Values.containerPort }}
              protocol: TCP
          
          # Runtime commands
          {{- if .Values.args }}
          args:
            {{- toYaml .Values.args | nindent 12 }}
          {{- end }}

          # Mount a configuration file
          {{- if .Values.configMapName }}
          volumeMounts:
            - name: config-volume
              mountPath: {{ .Values.configMountPath | default "/config" }}
            - name: storage-volume
              mountPath: {{ .Values.storageMountPath | default "/data" }}
          {{- end }}
          
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      
      # Define volumes if the service needs configuration or persistent storage
      {{- if .Values.configMapName }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.configMapName }}
        # Defaulting to emptyDir, but this should be a persistentVolumeClaim for production!
        - name: storage-volume
          emptyDir: {} 
      {{- end }}