apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  # Define the type of service (e.g., ClusterIP, NodePort)
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      # The internal port defined in the Deployment container spec
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "chart.selectorLabels" . | nindent 4 }}