{{- if .Values.prometheus.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}-app-monitor
  labels:
    # IMPORTANT: This label must match the 'podMonitorSelector' or 
    # 'serviceMonitorSelector' defined in your Prometheus configuration.
    release: prometheus-stack 
spec:
  selector:
    matchLabels:
      app: nginx-web
  
  endpoints:
    - port: http 
      path: /metrics
      interval: 30s

  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
{{- end }}