prometheus:
  enabled: true
  kube-prometheus-stack:
    grafana:
      defaultDashboardsTimezone: UTC
      persistence:
        enabled: true
        size: 5Gi

loki:
  enabled: true
  loki-stack:
    loki:
      persistence:
        enabled: true
        size: 10Gi